body {
    width: 100%;
    height: 100%;
    background-color: #202020;
}

div {
    position:absolute;
    height:100%;
    width:100%;
    display: table;
}

h2 {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    color: #FFFFFF;
}

p{
    color: #FFFFFF;
}